{# templates/register.html.twig #}
{% extends "base.html.twig" %}

{% block title %}
	QG Animation | Inscription
{% endblock %}


{% block body %}

PAGE D'INSCRIPTION

    {# <div class="container"> #}

    {# doit etre conforme au _construct du forlulaire  #}
    {#   {{ form_start(form) }} #}
    {#        {{ form_row(form.username) } #}
    {#        {{ form_row(form.dateofbirth) }} #}
    {#        {{ form_row(form.email) }}  #}
    {#        Verifier securite de l'email #}
    {#        {{ form_row(form.password) }} #}
    {#        <button type="submit" class="btn btn-primary">Créer cet utilisateur</button> #}
    {#    {{ form_end(form) }} #}
    {# </div> #}
    
{% endblock %}
